{
  "parser": "babel-eslint",
  "extends" : "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "global-require": 0,
    "semi": [2, "never"],
    "no-underscore-dangle": 0,
    "no-console": ["error", {"allow": ["info", "warn", "error"]}],
    "func-names": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "space-before-function-paren": [2, "never"],
    // Activating the following rules could lead to better code style
    "max-len": [0, 120],
    "consistent-return": 0,
    "no-restricted-syntax": 0,
    "no-case-declarations": 0,
    "no-nested-ternary": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-curly-spacing": 0,
    "react/no-multi-comp": 0,
    "jsx-a11y/img-has-alt": 0
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__VERSION__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__ENV_DEV_JSON__": true,
    "videojs": false,
    "ATInternet": false,
    //GSAP Globals
    "TimelineLite" : false,
    "TimelineMax" : false,
    "TweenLite" : false,
    "TweenMax" : false,
    "Back" : false,
    "Bounce" : false,
    "Circ" : false,
    "Cubic" : false,
    "Ease" : false,
    "EaseLookup" : false,
    "Elastic" : false,
    "Expo" : false,
    "Linear" : false,
    "Power0" : false,
    "Power1" : false,
    "Power2" : false,
    "Power3" : false,
    "Power4" : false,
    "Quad" : false,
    "Quart" : false,
    "Quint" : false,
    "RoughEase" : false,
    "Sine" : false,
    "SlowMo" : false,
    "SteppedEase" : false,
    "Strong" : false,
    "Draggable" : false,
    "SplitText" : false,
    "VelocityTracker" : false,
    "CSSPlugin" : false,
    "ThrowPropsPlugin" : false,
    "BezierPlugin" : false,
    "React": false,
    "google": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
