// App colors
$white: #fff;
$light-grey: #d6dbdf;
$medium-light-grey: #a2a9af;
$medium-grey: #425669;
$dark-grey: rgba(44, 62, 80, 1);
$dark-grey-alpha90: rgba(44, 62, 80, 0.9);
$active-color: #1abc9c;
$passive-color: #748595;

// Controlbar colors
$control-bar-background-color: $dark-grey-alpha90;
$control-bar-color: $light-grey;
$control-bar-icon-active: $active-color;
$control-bar-icon-passive: $passive-color;
$contol-bar-progress-background: $medium-grey;
$contol-bar-progress-played: $active-color;
$contol-bar-progress-loaded: $light-grey;
$contol-bar-progress-handle: #16a085;;
$contol-bar-progress-handle-focus: #148d75;
