@import "./fonts.scss";

.jarvip {
  @import "./skins/default.scss";
  @import "./icons.scss";
  @import "./control-bar.scss";
  @import "./bootstrap.scss";

  display: inline-block;
  overflow: hidden;
  border-radius: 9px;

  video {
    width: 600px;
    height: auto;
    display: block;
  }
}
